<h1>liste des durées de vie equipements</h1>
<%type=""%>
<% @potentiel_equipements.each do |potentiel_equipement| %>
	<% if(type!=potentiel_equipement.type_equipement.type_equipement) then %>
	<% if(type!="") then %> </table><%end %>
	<% type= potentiel_equipement.type_equipement.type_equipement%>
	<h3><%= potentiel_equipement.type_equipement.nom_constructeur+" "+potentiel_equipement.type_equipement.type_equipement %></h3>
	<table border=1 width=50%>
	  <tr>
		  <td width=30%>type de durée de vie</td>
		  <td width=30%>valeur durée de vie</td>
		  <td>&nbsp;</td>
		  <td>&nbsp;</td>
		  <td>&nbsp;</td>
	  </tr>
	<%end%>
	 <tr>
		 <td><%= potentiel_equipement.type_potentiel.type_potentiel %> </td>
		 <td><%= potentiel_equipement.valeur_potentiel %> <%= potentiel_equipement.type_potentiel.unitee %></td>
		 <td><%= link_to 'Détail', potentiel_equipement %></td>
		 <td><%= link_to 'Modifier', edit_potentiel_equipement_path(potentiel_equipement) %></td>
		 <td><%= link_to 'suppr', potentiel_equipement,data: {confirm: 'êtes vous sur?'}, :method => :delete %></td>
	 </tr>
<% end %>
</table>

<br />

<%= link_to 'Nouvelle durée de vie équipement', new_potentiel_equipement_path %>