<h1>Liste des  visites d'entretien</h1>
<% type="" %>
<%= link_to 'nouvelle visite protocolaire', new_visite_protocolaire_path %>
<% @visite_protocolaires.each do |visite_protocolaire| %>
	<% if (type!=visite_protocolaire.type_machine.type_machine) then %>
		<% if (type!="") then %></table> <% end%>
		<% type=visite_protocolaire.type_machine.type_machine%>
		<h3><%= visite_protocolaire.type_machine.Nom_constructeur %> <%=visite_protocolaire.type_machine.type_machine%></h3>
		<table border=1>
		 <tr>
			<td width=20%>Nom</td>
			<td width=15%>type de potentiel</td>
			<td width=10%>valeur de potentiel </td>
			<td width=10%>tolerance </td>
			<td width=10%>potentiel variable</td>
			<td>&nbsp</td>
			<td>&nbsp</td>
			<td>&nbsp</td>
		</tr>
	<% end %>

	  <tr>
	    <td><%=visite_protocolaire.Nom %></td>
	    <td><%=visite_protocolaire.type_potentiel.type_potentiel %></td>
	    <td><%=visite_protocolaire.valeur_potentiel %></td>
	    <td><%=visite_protocolaire.tolerance %></td>
	    <td align="center"><%= if (visite_protocolaire.potentiel_variable) then image_tag "case_a_cocher.gif" else image_tag "case_cocher_vide.jpg" end %></td>
	    <td><%= link_to 'détail', visite_protocolaire %></td>
	    <td><%= link_to 'modifier', edit_visite_protocolaire_path(visite_protocolaire) %></td>
	    <td><%= link_to 'supp', visite_protocolaire, :confirm => 'êtes vous sur?', :method => :delete %></td>
	  </tr>
<% end %>
</table>

<br />
